fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
supabase
python-dotenv
pydantic[email]
pandas
crewai
crewai-tools
statsmodels
python-multipart
litellm
azure-ai-inference>=1.0.0b9
cachetools
google-adk
yfinance
